* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$gray-dark: #19191a;
$gray-100: #f2f2f3;
$gray-800: #7a8085;

:root {
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
  font-size: 18px;
}

li {
  list-style: none;
}
.container {
  width: 1170px;
  margin: auto;
}

header {
  border-top: 4px solid #f3d02e;
  top: 0;
  z-index: 999;
  position: sticky;
  transition: border-top-color 0.5s ease-in-out;
  background: #fff;

  .Navbar {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;

    .MenuIcons {
      color: #7a8085;
      background: transparent;

      margin-right: 15px;
      font-size: 30px;
      margin-top: 5px;
      border: none;
      cursor: pointer;
    }

    img {
      width: 100px;
      height: 20px;
    }
    .Delimiter {
      width: 2px;
      height: 36px;
      margin: 0 20px;
      vertical-align: middle;
      background: $gray-100;
    }
    .NavList {
      display: flex;
      margin-right: 20rem;
      margin-top: 10px;

      li {
        margin: 0 30px;
        display: inline-block;
        position: relative;

        &:hover ul {
          display: block;
        }

        a {
          font-weight: 600;
          line-height: 1, 33;
          color: $gray-dark;
        }
      }
    }
    .Dropdown {
      min-height: 40px;
      align-items: center;

      ul {
        border: none;
        background: #fff;
        width: 270px;
        position: absolute;
        border-radius: 4px;
        top: 40px;
        display: none;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin: auto;

        li {
          margin: 0 1px;
          display: block;
          &:hover {
            background-color: #fffaf0;
          }
        }
        a {
          color: #19191a;
          display: block;
          line-height: 44px;
          font-weight: 400;
        }
      }
    }
  }
  .NavIcons {
    display: flex;

    .Icons {
      margin: 0 20px;
      color: $gray-dark;
      width: 20px;
      height: 24px;
      cursor: pointer;
    }
  }
}
