* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$gray-dark: #19191a;
$gray-100: #f2f2f3;
$gray-800: #7a8085;

:root {
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
  font-size: 18px;
}

li {
  list-style: none;
}
.container {
  width: 1170px;
  margin: auto;
}

header {
  border-top: 4px solid #f3d02e;
  z-index: 999;
  position: relative;
  transition: border-top-color 0.5s ease-in-out;

  .Navbar {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;

    .MenuIcons {
      color: #7a8085;

      margin-right: 15px;
      font-size: 30px;
      margin-top: 5px;
      border: none;
      cursor: pointer;
    }

    img {
      width: 100px;
      height: 20px;
    }
    .Delimiter {
      width: 2px;
      height: 36px;
      margin: 0 20px;
      vertical-align: middle;
      background: $gray-100;
    }
    .NavList {
      display: flex;
      margin-right: 20rem;

      li {
        margin: 0 30px;
        display: inline-block;

        a {
          font-weight: 600;
          line-height: 1, 33;
          color: $gray-dark;
        }
      }
    }
  }
  .NavIcons {
    display: flex;
    a {
      margin: 0 20px;
      color: $gray-dark;
      width: 32px;
      height: 32px;
    }
  }
}
