.Footer {
  background-color: #e5e5e6;

  .container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .FooterCategorys {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 50px 0;
  }
  a {
    text-decoration: none;
    color: #7a8085;
    font-size: 14px;
    line-height: 2rem;
  }
  h3 {
    font-size: 14px;
    color: #525659;
    margin-bottom: 20px;
  }

  .MobileLogo {
    img {
      width: 120px;
      margin-bottom: 20px;
    }
  }
  .FooterBottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    border-top: 1px solid rgba(25, 25, 26, 0.05);
    padding: 10px 0;

    .FooterTitle {
      p {
        color: #7a8085;
      }
    }
    .SocialMedia {
      ul {
        display: flex;
        text-align: center;
        a {
          font-size: 30px;
          padding: 0 10px;
        }
      }
    }
  }
}
