.SearchPage {
  height: 100%;
  position: fixed;
  width: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: 1s;

  z-index: 999;
  overflow: hidden;
  overflow-y: auto;
  background: url(../bg.svg) no-repeat center;
  background-color: #f2f2f3;
  .container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  a {
    color: #19191a;
    font-weight: 600;
    font-size: 18px;
  }
  li {
    border-bottom: 1px solid #e1e1e2;
  }
  .SideHead {
    display: flex;
    margin-top: 20px;
    align-items: center;
    img {
      width: 100px;
      margin-left: 10px;
    }
    button {
      border: none;
    }
    .Icons {
      width: 30px;
      height: 25px;
      margin-right: 20px;
      color: #7a8085;
      cursor: pointer;
    }
  }

  .WebrazziSearch {
    display: flex;
    flex-direction: column;

    input {
      font-size: 48px;
      font-weight: 600;
      margin-left: 0;
      height: 60px;
      width: 100%;
      border: 0;
      background: transparent;
      font-weight: 600;
      outline: none;
      caret-color: #f3d02e;
      position: relative;
      margin: 30px 0;

      &::placeholder {
        color: #e1e1e2;
      }
    }
  }
  .SearchLists {
    padding: 20px 40px;
    width: 60%;
    p {
      margin-bottom: 20px;
      font-size: 14px;
      color: #b6b7b9;
      font-weight: 600;
    }
    .SearchList {
      li {
        margin-bottom: 20px;
        padding-bottom: 20px;
      }
    }
  }
  .SearchInsights {
    background: url("https://webrazzi.com/v8/img/insights_dark_small.jpg")
      no-repeat center;
    background-size: cover;
    height: 100vw;
    color: #fff;
    right: 0;
    top: 0;
    width: 0;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    .Insights {
      padding: 30px 30px;
    }
    .InsightsHead {
      text-align: center;
      margin-bottom: 20px;
      img {
        width: 150px;
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
        color: #b6b7b9;
      }
    }
    .InsightsBody {
      li {
        padding: 24px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        text-align: left;
      }
      a {
        color: #fff;
      }
    }
    .InsightsFooter {
      text-align: center;
      padding: 20px;

      p {
        font-size: 16px;
        color: #b6b7b9;
      }
      .Avantaj {
        border-radius: 3px;
        padding: 16px 16px;
        font-weight: 600;
        line-height: 1;
        text-decoration: none;
        display: inline-block;
        margin-top: 30px;
        background-color: #fff;
        color: #525659;
        cursor: pointer;
      }
    }
  }
}
