.rapor {
  background-image: linear-gradient(to bottom, #19191a, #363738);
  padding: 80px 60px 100px 60px;
  margin: -50px -60px;
  border-radius: 10px;

  .RaporCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
